<% provide(:title, 'Contact') %>
<!DOCTYPE html>

<h1>Jordan's Rails App Contact Page</h1>
	<p>
		This is the Contact Page of Jordan's attempt at the Ruby on Rails tutorial sample application
	</p>

	
