<!DOCTYPE html>

<div class="center hero-unit">

	<h1>Jordan's Rails App</h1>
		<h2>
			This is the homepage of Jordan's attempt at the Ruby on Rails tutorial sample application
		</h2>

		<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= image_tag "jordan.jpg", :id => "jp_photo" %>

<div id="personal_info_home"> 
	<h1> Follow me on <a href="http;//www.twitter.com">Twitter</a> </h1>
	<h2> Or check out my blog <a href="http;//www.twitter.com">becoming a developer in 10 weeks</a> </h2>

</div>
	
