<!DOCTYPE html>
<html>
	<footer class="footer">
		<small>
			<a href="http://www.jordanpoulton.com"> Jordan's 1st Rails App</a>
			by Jordan Poulton
		</small>

		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
				<li><%= link_to "Contact", contact_path %></li>
				<li><a href="http://www.jordanpoulton.com"> Read about my journey to become a developer </a></li>
			</ul>
		</nav>
	</footer>
</html>		